@model EventsUs.Models.Event

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>
@Model.EventAdminId = @Context.User.Identity.Name;

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            @{ DateTime today = DateTime.Today;
                if (today > Model.Date)
                {
                    <div class="form-group">
                        <b>How many come to the event?</b>
                        <input asp-for="Realcome" class="form-control" />
                        <span asp-validation-for="Realcome" class="text-danger"></span>
                    </div>
                }
                else
                {
                    <b>Invented</b>
                    <input asp-for="Predictpepole" class="form-control" />
                    <span asp-validation-for="Predictpepole" class="text-danger"></span>
                }
            }
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublicPrivate" class="control-label"></label>
                <input asp-for="PublicPrivate" class="checkbox" />
                <span asp-validation-for="PublicPrivate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YoutubeId" class="control-label"></label>
                <input asp-for="YoutubeId" class="form-control" />
                <span asp-validation-for="YoutubeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublicPrivate" class="control-label"></label>
                <input asp-for="PublicPrivate" class="checkbox" />
                <span asp-validation-for="PublicPrivate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
