@using Microsoft.AspNetCore.Identity
@model IEnumerable<EventsUs.Models.Event>
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "getAllEventDetails";
}

@foreach (var item in Model)
{
    
       <div class="contentItem"><a asp-action="Details" asp-route-id="@item.Id">@item.Name</a></div>
    
}
@{
    try
    {
        if (Model.ToArray().Length > 3)
        {
            var m = Model.First();
            <div class="contentMore"><button onclick="javaScript:onEvent(@m.Date.Day,@m.Date.Month,@m.Date.Year);">More...</button></div>
        }
    }
    catch (Exception e)
    {
        //Console.WriteLine(e);
        //throw;
    }

}