
@using Microsoft.AspNetCore.Identity
@model IEnumerable<EventsUs.Models.Event>
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@*@{
        Layout = null;
    }*@

<!DOCTYPE html>

<html>
<head>
    <style>
        div.ex1 {
            background-color: lightblue;
            width: 380px;
            height: 203px;
            overflow: scroll;
        }
    </style>
</head>
<body>
    <div class="ex1">
        @foreach (var item in Model)
        {
            
                <div class="contentItem"><a asp-action="Details" asp-route-id="@item.Id">@item.Name</a></div>
           

        }
    </div>
</body>
</html>