@model IEnumerable<EventsUs.Models.Event>

@*@{
    Layout = null;
}*@

<!DOCTYPE html>

<html>
<head>
    
</head>
<body style="height: 150px; overflow: hidden;">
    @foreach (var item in Model)
    {
        <div class="contentItem"><a asp-action="Details" asp-route-id="@item.Id">@item.Description</a></div>
    }
</body>
</html>
