@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <img src="https://image.ibb.co/k3keCz/log.png">
    @using (Html.BeginForm("Index", "Events"))
    {
        <p>
            <input type="text" name="SearchString">
            <input type="submit" value="Search" />
        </p>
    }
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/EventCalendar.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    </environment>
    <script>
        function onEvent(day, month, year) {
            href = "CalendarUser/Events/getAllEventByDate/";
            console.log("day",day);
            //console.log("month",month);
            //console.log("year",year);
            //console.log("herf", herf);
            $.ajax({
                type: "GET",
                url: href,
                data: {
                    "day": day,
                    "month": month,
                    "year": year,
                },
                success: function (result) {
                    //console.log("success");
                    //console.log("result", result);
                    id = 'contentContainer:' + day + "/" + month + "/" + year;
                    //console.log("id", id);
                    document.getElementById(id).innerHTML = result;
                },
                error: function (response) {
                    //console.log("error");
                }
            });

        }


        function allDetails(day, month, year) {
            var href = "CalendarUser/Events/getAllEventDetails";
            //console.log("day", day);
            //console.log("month", month);
            //console.log("year", year);
            //console.log("herf", herf);
            $.ajax({
                type: "GET",
                url: href,
                data: {
                    "day": day,
                    "month": month,
                    "year": year,
                },
                success: function (result) {
                    //console.log("success");
                    //console.log("result", result);
                    id = 'contentContainer:' + day + "/" + month + "/" + year;
                    //console.log("id", id);
                    document.getElementById(id).innerHTML = result;
                },
                error: function (response) {
                    //console.log("error");
                }
            });

        }

    </script>
    
    
   
</head>
<body>
<div id="calendar"></div>

    <partial name="_CookieConsentPartial" />

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/CalendarScript.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
    </environment>

</body>
</html>
