@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Home Page";
}
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html>
<head>
   
    <img src="https://image.ibb.co/k3keCz/log.png">

    @using (Html.BeginForm("Index", "Events"))
    {
        <p>
            <input type="text" name="SearchString">
            <input type="submit" value="Search" />
        </p>
    }
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/EventCalendar.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    </environment>
    <script>


        function onEvent(day, month, year) {
            href = "CalendarUser/Events/getAllEventByDate/";
            console.log("day",day);
            //console.log("month",month);
            //console.log("year",year);
            //console.log("herf", herf);
            $.ajax({
                type: "GET",
                url: href,
                data: {
                    "day": day,
                    "month": month,
                    "year": year,
                    "username": "@UserManager.GetUserName(User)",
                },
                success: function (result) {
                    //console.log("success");
                    //console.log("result", result);
                    id = 'contentContainer:' + day + "/" + month + "/" + year;
                    //console.log("id", id);
                    document.getElementById(id).innerHTML = result;
                },
                error: function (response) {
                    //console.log("error");
                }
            });

        }


        function allDetails(day, month, year) {
            var href = "CalendarUser/Events/getAllEventDetails";
            //console.log("day", day);
            //console.log("month", month);
            //console.log("year", year);
            //console.log("herf", herf);
            $.ajax({
                type: "GET",
                url: href,
                data: {
                    "day": day,
                    "month": month,
                    "year": year,
                    "username": "@UserManager.GetUserName(User)",
                },
                success: function (result) {
                    //console.log("success");
                    //console.log("result", result);
                    id = 'contentContainer:' + day + "/" + month + "/" + year;
                    //console.log("id", id);
                    document.getElementById(id).innerHTML = result;
                },
                error: function (response) {
                    //console.log("error");
                }
            });

        }

    </script>



</head>
<body>
    <div id="calendar"></div>

    <partial name="_CookieConsentPartial" />

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/CalendarScript.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
    </environment>

</body>
</html>
    <canvas></canvas>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript">
        var canvas = document.createElement('canvas');
        var canvasWidth = canvas.width = window.innerWidth;
        var canvasHeight = 40/*canvas.height = window.innerHeight*/;
        var ctx = canvas.getContext('2d');
        var heightScale = 0.866;


        function rnd(min, max) {
            return Math.floor((Math.random() * (max - min + 1)) + min);
        };


        function render() {
            ctx.fillStyle = 'rgb(0,0,0)';
            ctx.fillRect(0, 0, canvasWidth, canvasHeight);
            ctx.lineWidth = 1;

            var hueStart = rnd(0, 360);
            var triSide = 40;
            var halfSide = triSide / 2;
            var rowHeight = Math.floor(triSide * heightScale);
            var columns = Math.ceil(canvasWidth / triSide) + 1;
            var rows = Math.ceil(canvasHeight / rowHeight);

            var col, row;
            for (row = 0; row < rows; row++) {
                var hue = hueStart + (row * 3);

                for (col = 0; col < columns; col++) {

                    var x = col * triSide;
                    var y = row * rowHeight;
                    var clr;

                    if (row % 2 != 0) {
                        x -= halfSide;
                    }

                    // upward pointing triangle
                    clr = 'hsl(' + hue + ', 50%, ' + rnd(0, 60) + '%)';
                    ctx.fillStyle = clr;
                    ctx.strokeStyle = clr;
                    ctx.beginPath();
                    ctx.moveTo(x, y);
                    ctx.lineTo(x + halfSide, y + rowHeight);
                    ctx.lineTo(x - halfSide, y + rowHeight);
                    ctx.closePath();
                    ctx.fill();
                    ctx.stroke(); // needed to fill antialiased gaps on edges

                    // downward pointing triangle
                    clr = 'hsl(' + hue + ', 50%, ' + rnd(0, 60) + '%)';
                    ctx.fillStyle = clr;
                    ctx.strokeStyle = clr;
                    ctx.beginPath();
                    ctx.moveTo(x, y);
                    ctx.lineTo(x + triSide, y);
                    ctx.lineTo(x + halfSide, y + rowHeight);
                    ctx.closePath();
                    ctx.fill();
                    ctx.stroke();

                };
            };
        };

        document.body.appendChild(canvas);

        render();

        document.body.addEventListener('dblclick', render);



    </script>
    <footer>
        <p>Site Was Build By: Alex, Dvir and Meital</p>
        <p>Contact information: <a href="mailto:support@EventUs.com">support@EventUs.com</a>.</p>
    </footer>


